<header>
  <nav>
    <ul>
      <li>
        <a href="/api/heroes">Dashboard</a>
      </li>
      <li>
        <a href="/api/heroes/formAgregar">Agregar Superhéroe</a>
      </li>
    </ul>
  </nav>
</header>